.dark,
.dark header {
    background-color: var(--dark);
    color: var(--light);
}

.dark .info-contato .info-contato-itens .social {
    background-color: var(--light);
}

.dark .info-contato .info-contato-itens .social i {
    color: var(--dark);
}

.dark .manual .m-btn,
.dark .auto div,
.dark .conteiner-login form .form-control input,
.dark .over-desc .view-desc>div,
.dark .conteiner-cadastro form .form-control input,
.dark .conteiner-recupera form .form-control input,
.dark .menu-mobile .nav-mobile .mobile-account .mobile-btns a {
    border: 1px solid var(--light);
}

.dark .manual .m-btn:hover {
    background-color: var(--light);
}

.dark #bullet1:checked~.auto .a-btn1,
.dark #bullet2:checked~.auto .a-btn2,
.dark #bullet3:checked~.auto .a-btn3,
.dark .nav .header-icons .perfil .account-itens .separetor,
.dark .nav-content-two .nav-peril .perfil .drop-menu-account .btns-account .border {
    background-color: var(--light);
}

.dark footer {
    border-top: 1px solid var(--light);
}

.dark .carrinho .carrinho-item,
.dark .summary .separetor,
.dark .menu-mobile .nav-mobile section {
    border-bottom: 1px solid var(--light);
}

.dark .nav-content-two .lista .lista-itens {
    border-right: 1px solid var(--light);
}

.dark .nav-content-two .lista .lista-itens:last-child {
    border-right: 0;
}

.dark .menu-mobile .nav-mobile .mobile-account .mobile-btns .active {
    border: 0;
}

.dark .menu-mobile .nav-mobile section:last-child {
    border-bottom: 0;
}

.dark .c-products .category-p .category h2,
.dark .c-products .category-p .products .products-itens .desc-p .desc,
.dark .info .info-t,
.dark .info .info-p .info-itens .info-icon i,
.dark .info .info-p .info-itens .info-desc h2,
.dark .info .info-p .info-itens .info-desc p,
.dark .info-contato-itens h2,
.dark .info-contato-itens a,
.dark .info-contato-itens p,
.dark .copy p,
.dark .products .products-itens .desc-p .de,
.dark .products .products-itens .desc-p .por,
.dark .info-contato .info-contato-itens .social i,
.dark .conteiner-login h1,
.dark .conteiner-login form .form-control label,
.dark .conteiner-login form .form-control input,
.dark .conteiner-login form .form-control span,
.dark .conteiner-login form .or,
.dark .over-desc .view-desc p,
.dark .sidebar-car .nav-car i,
.dark .sidebar-car .nav-car h2,
.dark .carrinho h2,
.dark .carrinho .carrinho-item .content-car .desc-car .name-product,
.dark .carrinho .carrinho-item .price-product p,
.dark .carrinho .carrinho-item .dell-car i,
.dark .summary h2,
.dark .summary .desconto p,
.dark .summary .total p,
.dark .summary .desconto span,
.dark .summary .total span,
.dark .conteiner-cadastro h1,
.dark .conteiner-cadastro form .form-control label,
.dark .conteiner-cadastro form .form-control input,
.dark .conteiner-cadastro form .form-control span,
.dark main h2,
.dark .cards-products .cards-products-itens .cards-content .title,
.dark .cards-products .cards-products-itens .cards-content .de,
.dark .cards-products .cards-products-itens .cards-content .por,
.dark .conteiner-recupera h1,
.dark .conteiner-recupera form .form-control label,
.dark .conteiner-recupera form .form-control input,
.dark .nav-content-one .logo span,
.dark .nav-content-one .input-search input,
.dark .nav-content-one .input-search input::placeholder,
.dark .nav-content-one .input-search i,
.dark .nav-content-one .nav-icons button i,
.dark .nav-content-one .nav-icons i,
.dark .nav-content-two .lista .lista-itens,
.dark .nav-content-two .lista .lista-itens a,
.dark .nav-content-two .lista .lista-itens .drop-menu .lista-sec .lista-itens-sec a,
.dark .nav-content-two .lista .lista-itens .theme p,
.dark .nav-content-two .nav-peril .perfil i,
.dark .nav-content-two .nav-peril .perfil p,
.dark .menu-mobile .nav-mobile .mobile-account .mobile-account-perfil i,
.dark .menu-mobile .nav-mobile .mobile-account .mobile-account-perfil p,
.dark .menu-mobile .nav-mobile .mobile-account .mobile-btns a,
.dark .menu-mobile .nav-mobile .mobile-content section a,
.dark .menu-mobile .nav-mobile .mobile-content section .category-mobile .category-mobile-content i,
.dark .menu-mobile .nav-mobile .mobile-content section .category-mobile .category-mobile-content p,
.dark .menu-mobile .nav-mobile .mobile-content section .category-mobile .category-mobile-icon i,
.dark .menu-mobile .nav-mobile .mobile-content section .theme p,
.dark .menu-mobile .nav-mobile .mobile-content section .theme label i {
    color: var(--light);
}

.dark .conteiner-login form,
.dark .over-desc .view-desc,
.dark .sidebar-car,
.dark .carrinho,
.dark .summary,
.dark .conteiner-cadastro form,
.dark .cards-products .cards-products-itens,
.dark .conteiner-recupera form,
.dark .menu-mobile {
    background-color: var(--dark);
}

.dark .products .products-itens,
.dark .carrinho h2,
.dark .nav-content-one .input-search,
.dark .nav-content-two .lista .lista-itens .drop-menu,
.dark .nav-content-two .nav-peril .perfil .drop-menu-account,
.dark .menu-mobile .nav-mobile .mobile-account {
    background-color: var(--dark2);
}

.dark::-webkit-scrollbar-thumb,
.dark .info-contato .info-contato-itens .social,
.dark .carrinho::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

.dark .info .info-p .info-itens .info-icon i {
    color: var(--blue);
}